body{
    font-family: 'Poppins', sans-serif;
}  
p{
    text-align: justify;
}


.form-label{
    font-size:medium;
}
.fliper{
    cursor:pointer;
}
.fliper:hover{
    color: rgba(241, 146, 22, 0.568);
}
