html {
    /*For smooth scrolling behavior*/
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}  
p{
    text-align: justify;
}
.active{
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}
.error{
    color: red;
}
.disabled {
    pointer-events:none;
 }
.navbar-toggler{
    border:0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow:none;
    border:0;
}
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #e74c3c;
    display:block;
    transition: all 0.2s;
}
.middle-bar{
    margin: 5px auto;
}
.navbar-toggler .top-bar{
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler.collapsed .top-bar{
transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100)
}
.navbar-toggler.collapsed .bottom-bar{
    transform: rotate(0)
}
.navbar-toggler.collapsed .toggler-icon{
    background-color: #777777;
}
#carousel{
    position: relative;
    width:100%;
    height:100vh;
}
#carousel .carousel-inner{
    width:100%;
    height:100%;
    position: relative;
}
#carousel .carousel-inner:before{
   position:absolute;
    content:"";
    background:rgba(0,0,0,0.30);
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: 1;
}
#carouselRaffleMedia button {
    background:rgba(0,0,0,0.20);
    height:3rem!important;
    width: 3rem!important;
    top:45%;
}
.raffle-carousel{
 height:fit-content;
}
.raffle-carousel img{
 height:25vw;
}
#carouselRaffleMedia img{
    height:70vh;
}
#buyingControls{
    height:70vh;
}
/*custom bg colors*/
.custom-bg-1{
    
}
.custom-border-1{
    border-color: #6eaad3!important;
}
.ticketNumberIcon{
    position: absolute;
    top: 50%;
    left: 45%;
    font-weight: bolder;
    color: white;
    transform: translate(-50%, -50%);
}
.cancelNumber {
    position: absolute;
    top: 10%;
    right: 1%;
    
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {/*tablets*/
    #carousel .carousel-item img{
        height: 100vh;
    }
    .raffle-carousel img{
        height:35vw;
       }
    #carouselRaffleMedia img{
        height:50vw;
    }
    #buyingControls{
        height:50vw;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1280px) and (orientation:portrait){
    #buyingControls{
        height:50vh;
    }   
}

@media only screen and  (min-width:320px) and (max-width: 1024px) and (orientation:portrait) {/*celulares*/
    #carousel{
        height: 50vh;
    }
   #carousel .carousel-item img{
        height: 50vh;
    }
    .raffle-carousel img{
        height:50vw;

       }
    #carouselRaffleMedia img{
        height:50vh;
    }
}


@media only screen and  (min-width:320px) and (max-width: 1024px) and (orientation:landscape) {/*celulares*/
    #carouselRaffleMedia img{
        height:100vh;
    }
    #buyingControls{
        height:100vh;
    }   
    
}